name: Tests

on:
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run core unit tests
        run: ./gradlew kboyemucore:testDebugUnitTest

      - name: Run app unit tests
        run: ./gradlew app:testDebugUnitTest
